includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/
        - routes/

    level: 5
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model#'
        - '#Cannot access property \$value on string#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::items#'
        - '/Parameter #1 \$string of function str_pad expects string, int given/'
    reportUnmatchedIgnoredErrors: false